# Predicting Diameter and Potential Harm of Asteroids using Machine Learning

**Authors** :
Colin Campbell (c_c953), Jake Worden (jrw294), Leah Lewis (lrl68) and Ryan Wakabayashi (rjw102)

This uses the Asteroid dataset:  https://www.kaggle.com/basu369victor/prediction-of-asteroid-diameter

# Part 1 : Predicting Diameter

## Setup

Load python packages for data prepartion and analysis.

In [31]:
import pandas as pd

## Read Data
Load the asteroid dataset into a dataframe

In [32]:
df= pd.read_csv("Asteroid_Updated.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839714 entries, 0 to 839713
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            21967 non-null   object
 1   a               839712 non-null  float64
 2   e               839714 non-null  float64
 3   i               839714 non-null  float64
 4   om              839714 non-null  float64
 5   w               839714 non-null  float64
 6   q               839714 non-null  float64
 7   ad              839708 non-null  float64
 8   per_y           839713 non-null  float64
 9   data_arc        824240 non-null  float64
 10  condition_code  838847 non-null  object
 11  n_obs_used      839714 non-null  int64
 12  H               837025 non-null  float64
 13  neo             839708 non-null  object
 14  pha             823272 non-null  object
 15  diameter        137636 non-null  object
 16  extent          18 non-null      object
 17  albedo          136409 non-null  float64
 18  rot_per         18796 non-null   float64
 19  GM              14 non-null      float64
 20  BV              1021 non-null    float64
 21  UB              979 non-null     float64
 22  IR              1 non-null       float64
 23  spec_B          1666 non-null    object
 24  spec_T          980 non-null     object
 25  G               119 non-null     float64
 26  moid            823272 non-null  float64
 27  class           839714 non-null  object
 28  n               839712 non-null  float64
 29  per             839708 non-null  float64
 30  ma              839706 non-null  float64
dtypes: float64(21), int64(1), object(9)
memory usage: 198.6+ MB

## Droping Null Values

Print the sum of null values to determine which columns had a high percentage of null values.

In [33]:
print(df.shape)
print(df.isnull().sum())

(839714, 31)
name              817747
a                      2
e                      0
i                      0
om                     0
w                      0
q                      0
ad                     6
per_y                  1
data_arc           15474
condition_code       867
n_obs_used             0
H                   2689
neo                    6
pha                16442
diameter          702078
extent            839696
albedo            703305
rot_per           820918
GM                839700
BV                838693
UB                838735
IR                839713
spec_B            838048
spec_T            838734
G                 839595
moid               16442
class                  0
n                      2
per                    6
ma                     8
dtype: int64

In [34]:
columns = ['name', 'extent', 'albedo', 'rot_per', 'GM', 'BV', 'G', 'UB', 'IR', 'spec_B', 'spec_T']
df = df.drop(columns=columns)
print(df.shape)
print(df.isnull().sum())

(839714, 20)
a                      2
e                      0
i                      0
om                     0
w                      0
q                      0
ad                     6
per_y                  1
data_arc           15474
condition_code       867
n_obs_used             0
H                   2689
neo                    6
pha                16442
diameter          702078
moid               16442
class                  0
n                      2
per                    6
ma                     8
dtype: int64

In [35]:
df.dropna(how='all', axis=1, inplace=True)
df.dropna(how='any', axis=0, inplace=True)
print(df.shape)
print(df.isnull().sum())

(136760, 20)
a                 0
e                 0
i                 0
om                0
w                 0
q                 0
ad                0
per_y             0
data_arc          0
condition_code    0
n_obs_used        0
H                 0
neo               0
pha               0
diameter          0
moid              0
class             0
n                 0
per               0
ma                0
dtype: int64

## Determine Feature Selection

In [ ]:
# ANOVA on features on target to determine which features are significant
#anova = SelectKBest(k=10)
# fitting ANOVA model with features and target
#anova.fit(x, y)

# origin airport causes most effect in model
#for i in range(len(x.columns)):
   # print(f'{x.columns[i]}: {anova.scores_[i]}')